<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg text-bg-warning">
      <div class="container-fluid">
        
        <a class="navbar-brand link-secondary" href="/">TechField</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="all_emp">AllEmployee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="add_emp">AddEmployee</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="remv_emp">Remove</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="filter_emp">Filter</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2 text-bg-light" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success text-bg-secondary" type="submit">Search</button>
          </form>
        </div>
      </div>
      
    </nav>
    {% block content %}
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static\bg1.jpg" alt="Try again.." width="100%" height="600rem" >
          <div class="carousel-caption " style="margin: 200px;">
            <h2>Welcome To Website</h2>
            <p>“Start where you are. Use what you have. Do what you can.”</p>
          </div>
        </div>
        <div class="carousel-item active">
          <img src="static\bg2.jpg" alt="Try again.." width="100%" height="600rem" >
          <div class="carousel-caption " style="margin: 200px;">
            <h2>Business Insights</h2>
            <p>“I’m a great believer in luck, and I find the harder I work, the more I have of it.”</p>
          </div>
        </div>
        <div class="carousel-item active">
          <img src="static\bg3.jpg" alt="Try again.." width="100%" height="600rem" >
          <div class="carousel-caption " style="margin: 200px;">
            <h2>Employee Experience & Engagement</h2>
            <p> “The only thing that overcomes hard luck is hard work.”</p>
          </div>
        </div>
      </div>
    </div>
   
    <footer class="bd-footer py-4 py-md-1 mt-5 bg-body-tertiary">
      <div class="container py-4 py-md-1 px-4 px-md-3 text-body-secondary">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/" aria-label="Bootstrap">
              <img src="static/images.png" width="40" height="32">
              <span span class="fs-5">TechField</span>
            </a>
            <ul class="list-unstyled small">
              <li class="mb-2">Grow Your Skills with love and support <a href="/">TechField team</a> with the help of <a href="/">our contributors</a>.</li>
              <li class="mb-2">Code licensed <a href="/" target="_blank" rel="license noopener">MIT</a>, docs <a href="/" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
              <li class="mb-2">Currently v5.3.2.</li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>Links</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/">Home</a></li>
              <li class="mb-2"><a href="/">Docs</a></li>
              <li class="mb-2"><a href="/">Examples</a></li>
              <li class="mb-2"><a href="/">Icons</a></li>
              <li class="mb-2"><a href="/">Themes</a></li>
              <li class="mb-2"><a href="/">Blog</a></li>
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Swag Store</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Guides</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/">Getting started</a></li>
              <li class="mb-2"><a href="/">Starter template</a></li>
              <li class="mb-2"><a href="/">Webpack</a></li>
              <li class="mb-2"><a href="/">Parcel</a></li>
              <li class="mb-2"><a href="/">Vite</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Projects</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Office Management</a></li>
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Office Employee 2</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Community</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Issues</a></li>
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Discussions</a></li>
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Corporate sponsors</a></li>
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Open Collective</a></li>
              <li class="mb-2"><a href="/" target="_blank" rel="noopener">Stack Overflow</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>